html, body{
	margin: 0px;
	padding: 0px;
	font: normal 100% sans-serif;
}
/* headings */
h2 { font-size: 1.5em; margin-bottom: 0.5em; border-bottom: 1px solid #888; }
h3 { font-size: 1.25em; margin-top: 1em; }
h4 { font-size: 1.15em; margin-top: 1em; }
h5 { font-size: 1em; margin-top: 1em; }

a img{
	border: 0px; 
	text-decoration: none;
}
div.box { 
	margin-bottom: 1.5em; padding: 0.65em; background: #ecf2f5; border: 1px solid #bcd; 
--	-moz-border-radius: 15px;
--	-webkit-border-radius: 15px;
}
.minibox { 
	background: #ecf2f5; border: 1px solid #bcd; 
--	-moz-border-radius: 5px;
--	-webkit-border-radius: 5px;
}

.inline-block{
	display: inline-block;
}

.box table td{
	padding: 5px 10px;

	background:  #FAFAFF;
}

div.error { margin-bottom: 1.5em; padding: 0.65em; background: #f5ecf2; border: 1px solid #dbc; }


#topbar { 
	height: 50px;
	background: #333;
	border-bottom: 5px #08c solid;
}

#topbar ul { 
	float:right;
	display: inline ; 
	list-style: none ;
	margin: 0;
	padding: 0;
}

#topbar ul li {
	float: left ;
	padding: 15px 15px ;
}

#topbar ul li a{
	color: #999;	 
	font-size: 14px;
	font-family: sans-serif ;
	font-weight: bold;
	text-decoration: none;
}

#topbar ul li a:hover {
	color: #fff;	 
}

#topbar ul li a.attivo{
	color: #FFF;
}
#path{
	position: absolute;
	left: 10px;
	top: 60px;
	font-size:10px;
}

#main{
	width: 1000px;
	margin: auto;
	margin-top: 20px;
}

#colonna-sinistra{
	width:700px;
	float: left;
}
#colonna-separatrice{
	width:20px;
	float: left;
}
#colonna-destra{
	width:280px;
	float: left;	
}

.label{
	float: left;
	width: 200px;
}
#news{

}
#news ul{
	list-style: none;
	padding-left:0 ;
}

#news a{
	font-size:12px;
}
.news0, .news1{
	padding: 2px
}
.news1{
	background-color:#FDD;
}

.news1:hover{
	background-color: #ADD;
}

.news0:hover{
	background-color: #DBA;
}

#news img{
	margin-left: 150px;
}
