{% extends "../templates/main.html" %}
{%block menu-macchine%}attivo{%end%}

{% block main %}

	<div id="path"><a href="/">Home</a> &raquo; Lista Macchine</div>
	<div style="float:left; text-align: center; margin-right: 10px" class="box" >
		<a href="/guest/new/" >
			<img src="/static/img/pixmaps/vm_new_wizard.png" /><br />
			Nuova guest
		</a>
	</div>
	<div style="float:left; text-align: center; margin-right: 10px" class="box">
		<a href="/disk/download/" >
			<img src="/static/img/pixmaps/cdrom_new.jpg" /><br />
			Nuovo Disco
		</a>
	</div>
	<div style="float:left; text-align: center; margin-right: 10px" class="box">
		<a href="/disks/" >
			<img src="/static/img/pixmaps/cdrom.png" /><br />
			Lista Dischi
		</a>
	</div>
	<div style="clear: both"></div>
	<h2>Lista Macchine</h2>
	
	{% for guest in guests %}
	<div class="box">
		<h3 guest="{{ guest['name']  }}"><img src="/static/img/pixmaps/state_{{ guest['state'] }}.png" /> <a href="/guest/{{ guest['name'] }}/">{{ guest["name"] }}</a> </h3>
		<p>
			Descrizione della guest
		</p>
		<p style="font-size: small">
			{% if guest['state'] != 1 %}
				<a href="/guest/{{ guest['name']}}/run/">Avvia</a>
			{% else %}
<!--				<a href="/guest/{{ guest['name']}}/visualizza/">Visualizza</a>-->
				<a href="/guest/{{ guest['name']}}/force_off/">Force Off</a>
			{% end %}
		</p>
	</div>
	{% end %}
	
{% end %}

