{% extends "../templates/main.html" %}
{%block menu-utente%}{%end%}

{% block main %}
	<div id="colonna-sinistra">
		<div class="box">
			<h2>Benvenuti in virtBox! </h2>
			<p>VirtBox é un progetto che..</p>
		</div>
	</div>
	
	<div id="colonna-separatrice">&nbsp;</div>
	
	<div id="colonna-destra">
		<div class="box">
			<h2>Ultime News </h2>
			<ul>
				<li><a href="#">Questa é una news</a></li>
				<li><a href="#">Questa é la seconda news</a></li>
				<li><a href="#">Questa é la terz'ultima news</a></li>
				<li><a href="#">Questa é la quarta news</a></li>
				<li><a href="#">Questa é l'ultima</a></li>
			</ul>
		</div>
	</div>
{% end %}
