{% extends "../templates/main.html" %}
{%block menu-home%}attivo{%end%}

{% block main %}
	<script type="text/javascript" src="/static/clientSideInclude.js" ></script>
	<div id="path">Home</div>
	<div id="colonna-sinistra">
		<div class="box">
			<h2>Benvenuti in virtBox! </h2>
			<p>VirtBox &egrave; un'interfaccia web a libvirt. L'obiettivo &egrave; fornire uno strumento semplice 
			per la gestione di macchine virtuali con il supporto alla multiutenza.</p>
			<p>Il login da parte degli studenti dell'unimi &egrave; il login del silab, ossia iniziale del nome
			, iniziale del cognome e matricola.<br />
			Ad esempio il nome utente di Mario Rossi, matricola 123456 sar&agrave; mr123456.</p>
			<p>Per suggerimenti e bug-report scrivetemi a:
			<a href="mailto:alessandro.lorenzi@gmail.com">alessandro.lorenzi[at]gmail.com</a></p>
		</div>
	</div>
	
	<div id="colonna-separatrice">&nbsp;</div>
	
	<div id="colonna-destra">
		<div class="box">
			{% if user == ""%}
				<p>Benvenuto visitatore.</p>
			{% else %}
				<p>Benvenuto {{user}}.</p>
			{%end%}
			<ul>
				{% if user == ""%}
	<!--				<li><a href="/user/register/">Registra</a></li>-->
					<li><a href="/user/login/">Login</a></li>
				{% else %}
					<li><a href="/user/logout/">Logout</a></li>
				{%end%}
			</ul>
		</div>
		<div class="box" >
			<h3>Ultime News </h3>
			<div id="news"  >
				<img src="/static/loading.gif" />
			</div>
			<script>
				clientSideInclude('news', '/static/news.html');
			</script>
		</div>
		<div class="box">
		<h3>Powered By...</h3>
		<p>
			<!--img src="/static/img/archlinux.png" alt="ArchLinux"/-->
			<img src="/static/img/debian.png" alt="Debian"/><br />
			<img src="/static/img/tornado.png" alt="Tornado"/>
			<img src="/static/img/python.png" alt="Python"/>
		</p>
		</div>
	</div>
{% end %}
