<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	
	<title>virtBox {% block title %}{% end %}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />	
		<meta name="author" content="Alessandro Lorenzi" />
	<link rel="shortcut icon" href="/static/img/favicon.jpg" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" media="screen" href="/static/css/style.css" />


</head>

<body>
	<div id="topbar">
		<img src="/static/img/virtbox.png" />
		<ul>
			<!-- <li><a href="/utente/" class="{%block menu-utente%}{%end%}">Utente</a></li> -->
			<li><a href="/macchine/" class="{%block menu-macchine%}{%end%}">Macchine</a></li>
			<li><a href="/aula/" class="{%block menu-aula%}{%end%}">Aula</a></li>
			<li><a href="/templates/" class="{%block menu-templates%}{%end%}">Templates</a></li>
		</ul>
	</div>
	<div id="main">
		{% block main %}
		{% end %}
	</div>
</body>
</html>

